<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="fadAuto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <fadAuto.Properties.Settings>
            <setting name="ProgramSettingsFile" serializeAs="String">
                <value>fad2.json</value>
            </setting>
            <setting name="ImageFileTypes" serializeAs="String">
                <value>.png,.ping,.jpg,.jpeg,.tif,.tiff,.raw</value>
            </setting>
            <setting name="VideoFileTypes" serializeAs="String">
                <value>.mov,.mpg,.mpeg,.mkv,.avi,.mts</value>
            </setting>
        </fadAuto.Properties.Settings>
    </applicationSettings>
</configuration>