<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <DESKTOP-5HKNEP0>
    <CompareSize>False</CompareSize>
    <CompareVersion>True</CompareVersion>
    <CleanUp>False</CleanUp>
    <IgnoreVsHosting>True</IgnoreVsHosting>
    <CopyFiles>True</CopyFiles>
    <IgnoreDebugSymbols>True</IgnoreDebugSymbols>
    <CompareDate>True</CompareDate>
    <IgnoreFiles>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
  &lt;string&gt;examplepix\070810ixy 045.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\079.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\080209eos-m 015.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\09.08.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\200.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\20150804_145335.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\20160326_111813.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\21.07.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\24.07.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\279.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\284.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\314.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\auto.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\bruecke3.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\DSC_1018.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\IMG_0012.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\IMG_0036.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\IMG_0037.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\IMG_0281.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\IMG_0285.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\IMG_0371.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\IMG_0397.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\IMG_0476.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\Kies[1].jpg&lt;/string&gt;
  &lt;string&gt;examplepix\Millerntor-Stadion_(Hamburg-St._Pauli).Südtribüne_-_Gegengerade.ajb.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\P1000101.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\P1000189.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\P1000594.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\P1000765.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\P1000956.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\P1010483.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\P1010666.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\P1010974.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\P1010980.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\P1020610.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\P1030034.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\Radtour Südelbe 027.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\Radtour Südelbe 034.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\Radtour Südelbe 041.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\SANY0095.jpg&lt;/string&gt;
  &lt;string&gt;examplepix\zossen.jpg&lt;/string&gt;
  &lt;string&gt;fad2.exe.config&lt;/string&gt;
  &lt;string&gt;fad2.log&lt;/string&gt;
  &lt;string&gt;LICENSE.TXT&lt;/string&gt;
  &lt;string&gt;log4net.dll&lt;/string&gt;
  &lt;string&gt;log4net.xml&lt;/string&gt;
  &lt;string&gt;MetroFramework.Design.dll&lt;/string&gt;
  &lt;string&gt;MetroFramework.dll&lt;/string&gt;
  &lt;string&gt;MetroFramework.Fonts.dll&lt;/string&gt;
  &lt;string&gt;NAppUpdate.Framework.dll&lt;/string&gt;
  &lt;string&gt;Newtonsoft.Json.dll&lt;/string&gt;
  &lt;string&gt;Newtonsoft.Json.xml&lt;/string&gt;
&lt;/ArrayOfString&gt;</IgnoreFiles>
    <BaseURL>https://files.oles-cloud.de/fad2</BaseURL>
    <CompareHash>False</CompareHash>
    <OutputFolder>C:\dev\fad2\fad2\bin\Release</OutputFolder>
    <FeedXML>C:\dev\fad2\feed.xml</FeedXML>
  </DESKTOP-5HKNEP0>
</Settings>