<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="fad2.UI.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <applicationSettings>
    <fad2.UI.Properties.Settings>
      <setting name="GIthubAuthor" serializeAs="String">
        <value>OleAlbers</value>
      </setting>
      <setting name="GithubRepo" serializeAs="String">
        <value>GooglePlusOptimizer</value>
      </setting>
      <setting name="ProgramSettingsFile" serializeAs="String">
        <value>fad2.json</value>
      </setting>
      <setting name="MaxImageThumbSize" serializeAs="String">
        <value>3145728</value>
      </setting>
      <setting name="MetroTileSize" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MetroTileMargin" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ImageFileTypes" serializeAs="String">
        <value>png,ping,jpg,jpeg,tif,tiff,raw</value>
      </setting>
      <setting name="VideoFileTypes" serializeAs="String">
        <value>mov,mpg,mpeg,mkv,avi</value>
      </setting>
    </fad2.UI.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MetroFramework" publicKeyToken="5f91a84759bf584a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.3" newVersion="1.2.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>